<h1>Please sign up or sign in:</h1>
<form class="" action="index.html" method="post">
  <div class="form-group">
    
    <%= link_to "Sign Up", new_user_path %>
    
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <button type="submit" class="btn btn-default">Login</button>
    <% end %>
  </div>
</form>
  
