<div class="page-header">
  <h1>My Movie Vault <small>Welcome, <%= @user.username %></small></h1>
</div>

<div class="search">
  <p>Search: <input type="text" name="search" id="search-bar"> </p>
</div>

<div class="sort">
  <button type="button" class="sort-button" name="sort">Sort</button>
</div>

<div class="filter-by-status">
  <p>Filter: 
    <button type="button" class="filter" id="filter-watched">Watched</button>
    <button type="button" class="filter" id="filter-unwatched">Unwatched</button>
  </p>
</div>

<h3>Add new movie:</h3>
<%= form_for Movie.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :note %>
  <%= f.text_field :note %>
  <%= f.submit "Add movie" %>
<% end %>

<h3>Your Movies</h3>
  <div id="movies-list">
  <table>
    <tr id="header-row">
      <th>Title</th>
      <th>Note</th>
      <th>Watched?</th> 
      <th>Update Status</th> 
      <th>Edit</th> 
    </tr>
    <tbody id="movies">
    <% @movies.each do |movie| %>
    <tr class="movie" data-id="<%= movie.id %>" id='status-<%=movie.watched%>' data-status="<%=movie.watched%>">
      <td class='title-field' data-id="<%= movie.id %>" contenteditable="true" style="text-decoration: <% if movie.watched %> line-through <% else %> none <% end %>" > <%= movie.title %> </td>
      <td class='note-field' data-id="<%= movie.id %>" contenteditable="true"> <%= movie.note %> </td>
      <td class='status' id='movie-status-<%=movie.id%>'>Watched? <%= movie.watched %></td>
      <td class="button" id="toggle-movie-status"><button data-id="<%= movie.id %>" class="button" data-status="<%=movie.watched%>"><% if movie.watched %>Mark as Unwatched<% else %> Mark as Watched <% end %></button></td>
      <td class="edit"> <%= link_to "Edit", edit_movie_path(movie) %> </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>